body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: rgb(7, 1, 58);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
