.text{
    max-width: 75%;
    font-size: 18px;
    text-align: left;
    margin: 5px;
}
@media screen and (max-width: 1291px){
    .text{
        font-size: 13px;
    }
}
@media screen and (max-width: 992px){
    .text{
        font-size: 18px;
    }
}