.nav{
    font-size: 22px;
    font-weight: 900;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    /* color : rgb(42, 40, 40);
    background-color: rgb(238, 235, 237); */
    color : rgb(9 0 93);
    background-color: rgb(145 179 250);
    padding: 13px 30px;
    box-shadow: 0px 0px 10px 3px rgb(218 228 255);
    text-align: left;
  }
  .fake-buttons{
    float: right;
    display: flex;
    margin-left: auto;
  }
  .invisible{
    background-color: rgb(145 179 250);
    margin-left: 3px;
    border: 0;
    cursor: pointer;
  }
  @media screen and (max-width: 430px){
    .nav{
      padding: 20px;
    }
    .fake-buttons{
      display: block;
      padding-left: 30px;
      margin-right: 0;
      padding-right: 0;
    }
  }