.prediction_img{
    max-width: 50vw;
    border-radius: 10px;
}
.prediction_box{
    display: flex;
    box-shadow: 0px 0px 10px 3px rgb(218 228 255);
    border-radius: 10px;
    margin-bottom: 20px;
}
.predictSales{
    padding: 20px;
    background-color: rgb(218 228 255);
    border-radius: 10px;
}
.prediction_text{
    text-align: center;
    height: fit-content;
    display: block;
    font-size: 30px;
    color: rgb(9 0 93);
    margin-top: 40px;
    padding: 20px 30px;
    max-width: 600px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 8%;
    margin-bottom: 40px;
}
@media screen and (max-width: 992px){
   
}
